@media (max-width: 768px) {

    /* main.css */
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 40vw 1fr;
        grid-template-areas:
            "teams"
            "cards";

        transition: grid-template-rows .5s ease;
    }

    .main.open {
        grid-template-rows: 70vw 1fr;

    }

    .settings-section {
        display: none;
    }


    .arrow {
        color: #404040;
        display: inline-block;
        transition: transform .5s ease;

        margin-left: 2%;
    }

    /* teams.css */
    .teams-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        grid-template-rows: 2fr 6fr 2fr;
        grid-template-areas:
            "info"
            "member"
            "button";
    }

    .main.open .arrow {
        transform: rotate(-180deg);
    }

    .teams-settings-wrapper {
        display: grid;
        flex: 1;
        height: 100%;
        margin-top: 10%;

        
    }

    .settings-section-div {
        display: none;
    }

    .detail-open {
        line-height: 1;
    }

    .teams-open-button-div {
        flex-shrink: 0;

        grid-area: button;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        font-size: 2.5cqw;
        margin-left: 2%;
        width: 96%;
        height: 20%;
        font-weight: 500;
        background-color: #eee;
        color: #404040;

        cursor: pointer;
    }

    /* settings.css */
    
}